/* HeroSection.css */
.hero {
    background-image: url('https://i.pinimg.com/564x/71/cb/9e/71cb9e888dc595bc72d80b78f92d8840.jpg');
    background-size: cover;    
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  
  .hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 8px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: aliceblue;
  }
  
  .cta-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }
  
  img{
    max-width: 50%;
    max-height: 100%;
  }